    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Problem</h2>
              <!--<br/>-->
                <p>IoT devices out of coverage areas</p>
                <br/>
                <h2>Problem Size</h2>
                <p>150.000.000 devices (2017), CAGR: 23%.</p>
                <br/>
                <h2>Vision</h2>
                <p>Bring affordable IoT sensors communication everywhere allowing the industry 4.0 revolution.</p>
                <!--<br/>-->
              </div>
        </div>
    </section>
