<!-- Aplications Section -->
<section id="aplications" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
                <h2>Aplications</h2>
            <br/><br/>
        </div>

    </div>
    <div class="row big">
        <div class="col-lg-10 col-lg-offset-1 big">
            <div class="col-lg-3 appl big" >
                Sea and land transport, sensors on container
                <br/><br/>
                <i class="fa fa-car" style="font-size:40px;color:blue;"></i>
            </div>
            <div class="col-lg-3 appl big" >
                Agri sensors Track your crops hummidity soil variables, growth rate

            </div>
            <div class="col-lg-3 appl big" >
                Mining and heavy equipment monitoring

            </div>

            <div class="col-lg-3 appl big" >
                Gas and Oil Pipe line monitoring
            </div>
        </div>

    </div>
    </div>
    <div class="row big">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="col-lg-3 appl big" >
                Fish farming variables: Get to know your ocean ph once a day

            </div>

            <div class="col-lg-3 appl big" >
                Weather or environment monitoring station data retrieving

            </div>
            <div class="col-lg-3 appl big" >
                Forestry variables retrieving

            </div>
            <div class="col-lg-3 appl big" >
                Cattle monitoring

                Volcanoes monitoring

            </div>
        </div>
    </div>

</section>