<section id="project">
<!-- Page Content -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-sm-6">
                    <h1 class="section-heading"> How the magic happens</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h4 class="section-heading"> <i class="fas fa-signal"></i> Transceivers For Everyone!!!</h4>
                    <div class="lead">
                        Do you have data in a remote and unconnected location? Just plug your sensor or data logging device to our
                        transceiver and receive it in the cloud. Don't be afraid by typical high fees in satellite data transfer market, we are not just
                        cutting the size of the technology used in space, we are also cutting the prices of satellite data.
                    </div>
                    <hr class="section-heading-spacer">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/sat_network.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cubesat Satellites</h2>
                    <div class="lead">A constellation of 3-Unit cubesat satellites will provide conectivity to our sensors</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/constellation.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
